// src/scss/_media-queries.scss

@media (max-width: 767px) {
    .search-bar {
        width: 100%;
    }
  
    .carta {
        margin: 5px;
        padding: 10px;
    }
    
    .navbar-nav .nav-link {
        padding: 10px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .search-bar {
        max-width: 80%;
    }
  
    .carta {
        margin: 10px;
        padding: 15px;
    }
    
    .navbar-nav .nav-link {
        padding: 12px;
    }
  }
  
  @media (min-width: 992px) {
    .search-bar {
        max-width: 600px;
    }
  
    .carta {
        margin: 15px;
        padding: 20px;
    }
  }
  