// src/scss/_variables.scss

$color-pink: #ff6f91;
$color-light-pink: #ffb3c1;
$color-blue: #0277bd;
$color-dark-blue: #004c8c;
$color-dark: #333;
$color-light: #ffffff;
$color-gray: #ddd;

$font-family-base: 'Arial', 'Helvetica', sans-serif;
$font-family-heading: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
